<div class="px-2 py-5">
  <!-- Header Section -->
  <div class="d-flex w-100 align-items-center justify-content-between mb-4">
    <p class="fw-medium text-uppercase text-light">Nos Partenaires</p>
    <hr class="flex-grow-1 ms-4 border-white" />
  </div>

  <!-- Carousel Section -->
  <div class="row mx-auto my-auto justify-content-center">
    <div id="partnerCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <!-- Loop through the chunked logos -->
        <div
          *ngFor="let chunk of chunkedLogos; let i = index"
          [ngClass]="{ 'carousel-item': true, active: i === 0 }"
        >
          <div class="row g-3">
            <div
              *ngFor="let logo of chunk"
              class="col-6 col-md-2 d-flex justify-content-center align-items-center"
            >
              <!-- Dynamically set image src -->
              <img
                [src]="logo.url"
                alt="Logo {{ logo.id }}"
                class="img-fluid contain"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- Carousel Controls -->
      <a
        class="carousel-control-prev bg-transparent w-auto"
        href="#partnerCarousel"
        role="button"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a
        class="carousel-control-next bg-transparent w-auto"
        href="#partnerCarousel"
        role="button"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</div>
