<div class="flex items-center mb-14 container mx-auto px-4">
  <div class="w-5 h-10 bg-btn rounded-sm mr-4"></div>
  <div>
    <h2 class="text-btn text-lg font-medium">Nos partenaires</h2>
  </div>
</div>
<div class="partner-carousel bg-btn overflow-hidden">
  <div class="scroll-wrapper flex w-full" #scrollWrapper>
    <div
      class="scroll-content flex gap-5 animate-infinite-scroll"
      #scrollContent
    >
      <!-- Logos dynamically generated -->
      <div
        class="logo flex justify-center items-center w-36 h-28 flex-shrink-0"
        *ngFor="let logo of duplicatedLogos"
      >
        <img
          [src]="logo.url"
          alt="Logo {{ logo.id }}"
          class="w-full h-auto object-contain"
        />
      </div>
    </div>
  </div>
</div>
