<!-- Dropdown menu for categories -->
<button
  id="dropdownUsersButton"
  data-dropdown-toggle="dropdownUsers"
  data-dropdown-placement="bottom"
  class="text-white/90 font-semibold bg-green-darker hover:bg-green focus:outline-none rounded-lg text-base px-5 py-2 text-center inline-flex items-center"
  type="button"
>
  Nos categories
  <svg
    class="w-2.5 h-2.5 ms-3"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 10 6"
  >
    <path
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="m1 1 4 4 4-4"
    />
  </svg>
</button>

<div id="dropdownUsers" class="z-50 hidden bg-white rounded-lg shadow w-80">
  <ul
    class="h-80 py-5 overflow-y-auto text-primary text-base"
    aria-labelledby="dropdownUsersButton"
  >
    <li *ngFor="let category of categories" class="category-item">
      <a href="#" class="flex items-center px-4 py-2 hover:bg-itemsBg">
        <img
          class="w-8 h-8 me-2 rounded-full svg-icon"
          [src]="category.imageUrl"
          [alt]="category.name"
        />
        {{ category.name }}
      </a>
    </li>
  </ul>
</div>
