
  
  /* Shared Styles for Grid and List */
  .categories-grid{
    margin: 20px 0;
  }
  
  .category-tile {
    text-align: center;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .category-tile:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .category-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .category-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  /* Grid View */
  .categories-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap: 20px; /* Space between tiles */
  }
  
  .product-categories-wrapper {
    margin-top: 20px;
  }