<div class="container mb-5 d-flex justify-content-center">
  <div class="row justify-content-center gap-5">
    <div
      class="col-lg-1 col-md-2 col-sm-3 col-4 mb-3"
      *ngFor="let category of categories"
    >
      <a href="" class="position-relative d-block">
        <div class="small-img d-flex justify-content-center align-items-center">
          <img
            [src]="category.imageUrl"
            alt="{{ category.name }}"
            class="img-fluid rounded"
          />
          <!-- Hover text -->
          <div class="hover-text position-absolute text-white text-center">
            {{ category.name }}
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
