<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="md:py-8">
  <h2 class="text-2xl font-bold mb-6 text-primary">Pas encore de compte ?</h2>
  <h2 class="text-xl font-semibold mb-6 text-green-darker">
    Inscrivez-vous gratuitement et bénéficiez de vos avantages.
  </h2>

  <!-- NAME INFO -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-5 mb-5">
    <!-- first name -->
    <div class="">
      <label
        for="firstname"
        class="block text-sm font-medium text-secondary mb-1"
        >Nom</label
      >
      <input
        id="firstname"
        type="text"
        formControlName="firstname"
        placeholder="Doe"
        class="form-control block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
      />
      <div
        *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)"
        class="error text-red-500 text-sm mt-1"
      >
        <small *ngIf="firstname.errors?.['required']">Le nom est requis.</small>
        <small *ngIf="firstname.errors?.['minlength']"
          >Le nom doit comporter au moins 3 caractères.</small
        >
      </div>
    </div>
    <div class="">
      <label
        for="lastname"
        class="block text-sm font-medium text-secondary mb-1"
        >Prénom</label
      >
      <input
        id="lastname"
        type="text"
        formControlName="lastname"
        placeholder="John"
        class="form-control block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
      />
      <div
        *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)"
        class="error text-red-500 text-sm mt-1"
      >
        <small *ngIf="firstname.errors?.['required']"
          >Le prénom est requis.</small
        >
        <small *ngIf="firstname.errors?.['minlength']"
          >Le nom doit comporter au moins 3 caractères.</small
        >
      </div>
    </div>
  </div>

  <!-- ADDRESS INFOS -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-5 mb-5">
    <div class="md:col-span-2">
      <label for="street" class="block text-sm font-medium text-secondary mb-1"
        >Rue</label
      >
      <input
        id="street"
        type="text"
        placeholder="Rue de la République"
        class="form-control block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
      />
    </div>
    <div>
      <label
        for="streetNumber"
        class="block text-sm font-medium text-secondary mb-1"
        >Numéro</label
      >
      <input
        id="streetNumber"
        type="text"
        placeholder="Numéro"
        class="form-control block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
      />
    </div>
  </div>

  <div class="mb-5 grid grid-cols-1 md:grid-cols-4 gap-4">
    <div>
      <label
        for="postalCode"
        class="block text-sm font-medium text-secondary mb-1"
        >Code Postal</label
      >
      <input
        id="postalCode"
        type="text"
        placeholder=""
        class="form-control block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
      />
    </div>
    <div>
      <label for="city" class="block text-sm font-medium text-secondary mb-1"
        >Ville</label
      >
      <input
        id="city"
        type="text"
        placeholder=""
        class="form-control block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
      />
    </div>
    <div class="md:col-span-2">
      <label for="country" class="block text-sm font-medium text-secondary">
        Choisisez votre pays
      </label>
      <div class="relative mt-1">
        <select
          name="country"
          id="country"
          class="block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md"
        >
          <option class="text-secondary" value="0" disabled selected>
            Select a country...
          </option>
          <optgroup label="Africa">
            <option value="DZ">Algeria</option>
            <option value="AO">Angola</option>
            <option value="BJ">Benin</option>
            <option value="BW">Botswana</option>
            <option value="ZA">South Africa</option>
            <option value="NG">Nigeria</option>
            <option value="EG">Egypt</option>
            <option value="KE">Kenya</option>
            <option value="MA">Morocco</option>
            <!-- Add more countries as needed -->
          </optgroup>
          <optgroup label="Americas">
            <option value="AI">Anguilla</option>
            <option value="AG">Antigua and Barbuda</option>
            <option value="US">United States</option>
            <option value="CA">Canada</option>
            <option value="BR">Brazil</option>
            <option value="MX">Mexico</option>
            <option value="AR">Argentina</option>
            <option value="AW">Aruba</option>
            <!-- Add more countries as needed -->
          </optgroup>
          <optgroup label="Asia">
            <option value="AF">Afghanistan</option>
            <option value="AM">Armenia</option>
            <option value="AZ">Azerbaijan</option>
            <option value="BH">Bahrain</option>
            <option value="CN">China</option>
            <option value="IN">India</option>
            <option value="JP">Japan</option>
            <option value="KR">South Korea</option>
            <option value="SA">Saudi Arabia</option>
            <!-- Add more countries as needed -->
          </optgroup>
          <optgroup label="Europe">
            <option value="AL">Albania</option>
            <option value="AD">Andorra</option>
            <option value="AT">Austria</option>
            <option value="BY">Belarus</option>
            <option value="FR">France</option>
            <option value="DE">Germany</option>
            <option value="IT">Italy</option>
            <option value="ES">Spain</option>
            <option value="UK">United Kingdom</option>
            <!-- Add more countries as needed -->
          </optgroup>
          <optgroup label="Oceania">
            <option value="AS">American Samoa</option>
            <option value="AQ">Antarctica</option>
            <option value="AU">Australia</option>
            <option value="BV">Bouvet Island</option>
            <option value="NZ">New Zealand</option>
            <!-- Add more countries as needed -->
          </optgroup>
        </select>
      </div>
    </div>
  </div>

  <!-- BIRTHDAY INFOS -->
  <!-- <div class="form-group mb-4">
    <label for="birthday" class="block text-sm font-medium text-secondary mb-1"
      >Date de naissance</label
    >
    <input
      id="birthday"
      type="date"
      formControlName="birthday"
      class="form-control block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
      placeholder="Sélectionner une date de naissance"
    />
  </div> -->

  <!-- EMAIL INFOS -->
  <div class="form-group mb-4">
    <label for="userEmail" class="block text-sm font-medium text-secondary mb-1"
      >Email</label
    >
    <input
      id="userEmail"
      type="userEmail"
      formControlName="email"
      placeholder="name@gmail.com"
      class="form-control block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
    />
    <div
      *ngIf="email.invalid && (email.dirty || email.touched)"
      class="error text-red-500 text-sm mt-1"
    >
      <small *ngIf="email.errors?.['required']">L'email est requis.</small>
      <small *ngIf="email.errors?.['email']">Format de l'email invalide.</small>
    </div>
  </div>

  <!-- PASSWORD INFO -->
  <div class="form-group mb-4">
    <label for="password" class="block text-sm font-medium text-secondary mb-1"
      >Mot de passe</label
    >
    <input
      id="password"
      type="password"
      formControlName="password"
      placeholder="Entrez un mot de passe"
      class="form-control block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
    />
    <div
      *ngIf="password.invalid && (password.dirty || password.touched)"
      class="error text-red-500 text-sm mt-1"
    >
      <small *ngIf="password.errors?.['required']"
        >Le mot de passe est requis.</small
      >
      <small *ngIf="password.errors?.['minlength']"
        >Le mot de passe doit comporter au moins 8 caractères.</small
      >
      <small *ngIf="password.errors?.['passwordComplexity']"
        >Le mot de passe doit contenir au moins une majuscule, une minuscule et
        un chiffre.</small
      >
    </div>
  </div>

  <!-- CONFIRM PASSWORD INFO -->
  <div class="form-group mb-4">
    <label
      for="confirmPassword"
      class="block text-sm font-medium text-secondary mb-1"
      >Confirmer le mot de passe</label
    >
    <input
      id="confirmPassword"
      type="password"
      formControlName="confirmPassword"
      placeholder="Confirmez votre mot de passe"
      class="form-control block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
    />
    <div
      *ngIf="
        confirmPassword.invalid &&
        (confirmPassword.dirty || confirmPassword.touched)
      "
      class="error text-red-500 text-sm mt-1"
    >
      <small *ngIf="confirmPassword.errors?.['required']"
        >La confirmation du mot de passe est requise.</small
      >
      <small *ngIf="signUpForm.errors?.['passwordMismatch']"
        >Les mots de passe ne correspondent pas.</small
      >
    </div>
  </div>

  <button
    type="submit"
    [disabled]="signUpForm.invalid"
    class="w-full cursor-pointer text-white bg-green-darker hover:bg-green font-semibold rounded-lg text-sm px-5 py-2.5 mb-5"
  >
    S'INSCRIRE
  </button>
</form>
