<section class="customer-testimonials">
    <h2>What Our Customers Are Saying</h2>
    <div class="testimonials grid-view" >
      <div class="testimonial-card" *ngFor="let testimonial of testimonials">
        <div class="testimonial-content">
          <p class="testimonial-text">{{ testimonial.feedback }}</p>
          <div class="customer-info">
            <h3 class="customer-name">{{ testimonial.name }}</h3>
            <p class="customer-location">{{ testimonial.location }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  