<div class="px-4 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold">Bienvenue chez Onis-Mati</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Chez Onis-Mati, nous vous accompagnons pour transformer vos idées en
      projets concrets avec des solutions innovantes et adaptées à vos besoins.
      Notre expertise couvre une gamme complète de services allant de la
      conception web à l’intégration de solutions technologiques avancées.
    </p>

    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <button type="button" class="btn btn-danger px-4 me-sm-3 nav-btn">
        Découvrez Nos Offres
      </button>
      <button type="button" class="btn btn-light px-4 nav-btn border border-1">
        Voir projets
      </button>
    </div>
  </div>
  <div class="overflow-hidden" style="max-height: 30vh">
    <div class="container px-5">
      <img
        src="../../../assets/images/landing-page.jpeg"
        class="img-fluid border rounded-3 shadow-lg mb-4"
        alt="Exemple d'image"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
  </div>
</div>
<app-categories></app-categories>
<app-partenaires></app-partenaires>
