.nav-link {
  position: relative;
  text-decoration: none;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #56a41d;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

/* Default styling for the images */
.svg-icon {
  transition: filter 0.3s ease;
}

/* Hover effect on the <li> to change the SVG image color */
.category-item:hover .svg-icon {
  filter: invert(25%) sepia(80%) saturate(600%) hue-rotate(85deg); /* This will give a greenish tint, adjust further if necessary */
}
