.nav-item {
  border-radius: 50px; /* Apply rounded corners */
}
.nav-item:hover {
  background-color: #eeeeee; /* Gray background */
  transition: background-color 0.3s;
}
.nav-link {
  transition: color 0.3s;
}
.nav-item .nav-link {
  font-weight: 500;
}
