<nav class="navbar navbar-expand-md">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img
        src="assets/images/logo-transparent-png.png"
        width="100"
        height="100"
        alt="logo"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!-- Navbar Links -->
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item px-3">
          <a class="nav-link active" routerLink="/">Home</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link active" routerLink="/about-us">About</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link active" routerLink="/projects">Projects</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link active" routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link active" routerLink="/shop">Shop</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link active text-danger" routerLink="/shop">Promo</a>
        </li>
      </ul>

      <form class="d-flex mt-3 mt-lg-0 me-auto position-relative" role="search">
        <input
          class="form-control me-2 pe-5 border border-1 bg-light text-dark"
          type="search"
          placeholder="Chercher un produit, une réference, une marque,.."
          aria-label="Search"
          data-np-intersection-state="visible"
        />
        <button
          class="btn btn-success position-absolute end-0 top-50 translate-middle-y me-2"
          type="submit"
        >
          Search
        </button>
      </form>

      <!-- Buttons (Added Inside Collapse) -->
      <div class="d-flex gap-3 mt-3 mt-md-0">
        <button
          class="btn btn-light px-3 border border-1 nav-btn"
          type="button"
        >
          <a class="nav-link active" routerLink="/">Devenez client</a>
        </button>
        <button class="btn btn-primary px-3 nav-btn" type="button">
          <a class="nav-link active" routerLink="/">Se connecter</a>
        </button>
      </div>
    </div>
  </div>
</nav>
