<div class="container mx-auto px-5 pt-5 mb-14">
  <!-- Section Title -->
  <div class="flex items-center mb-14">
    <div class="w-5 h-10 bg-btn rounded-md mr-4"></div>
    <div>
      <h2 class="text-btn text-lg font-medium">Categories</h2>
    </div>
  </div>
  <div class="container flex justify-between gap-4">
    <div *ngFor="let category of categories">
      <a routerLink="/link">
        <div
          class="border border-1 rounded-md px-5 w-44 h-36 text-center flex flex-col justify-center items-center overflow-hidden transform transition-transform hover:-translate-y-1"
        >
          <img [src]="category.image" [alt]="category.name" class="mb-3" />
          <p class="text-primary text-sm">
            {{ category.name }}
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
