<div *ngIf="isUserAuth()">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-10">
    <!-- Section Title -->
    <div class="flex items-center mb-14">
      <div class="w-2 h-10 bg-green-darker mr-4"></div>
      <div>
        <h2 class="text-primary text-3xl md:text-4xl font-semibold">
          Nos categories du moment
        </h2>
      </div>
    </div>
    <div class="container grid grid-cols-2 lg:grid-cols-5 gap-8">
      <div *ngFor="let category of categories">
        <div
          class="max-w-sm bg-white border border-gray-200 rounded-lg overflow-hidden transform transition-transform hover:-translate-y-1"
        >
          <a [routerLink]="['/category', category.categoryId]">
            <img
              class="rounded-t-lg object-cover"
              [src]="category.image"
              [alt]="category.name"
            />
            <div class="p-2">
              <h5 class="mb-2 text-primary font-semibold tracking-tight">
                {{ category.name }}
              </h5>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>