<shop-hero-banner></shop-hero-banner>
<section class="categories-intro">
  <h2>Rechercher par catégories</h2>
  <p>
    Explorez notre large gamme de produits en parcourant les différentes
    catégories. Que vous recherchiez les derniers gadgets, des vêtements
    tendance ou des articles essentiels pour la maison, nous avons tout ce qu’il
    vous faut.
  </p>
</section>
<shop-product-categories></shop-product-categories>
<shop-featured-products></shop-featured-products>
<shop-customers-testimonials></shop-customers-testimonials>
