.nav-link {
  position: relative;
  text-decoration: none;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #56a41d;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}
